@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
.head-container{
    width : 100%;
    height : 100px;
    display: flex;
    background-color: #4481eb;
    justify-content: space-between;
}
.head-container >div
{
    display: flex;
    align-items: center;
}
.left > div {
    padding-left: 30px;
}
.logo
{
    font-size: 60px;
    color: white;
}
.app-name
{
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
    color: white;
    
}
.logo:hover,.app-name:hover{
    cursor: pointer;
}
.hamburger
{
    color: #fff;
    font-size: 25px;
    display: none;
}
.hamburger:hover
{
    cursor: pointer;
}
.right>div{
    margin-right: 20px;
    color: white;
    font-size: 30px;
}
.right>div:hover{
    cursor: pointer;
    color: #444;
}
.menu-item.account-big
{
    font-size: 22px;
    font-family: 'Comfortaa', cursive;
}
.menu-item.account
{
    display: none;
}
@media screen  and (max-height : 600px) {
    .head-container{
        background-color: #4481eb; ;
    }
    .head-container{
        height: 70px;
    }
    .app-name{
        font-size: 25px;
    }
    .logo{
        font-size: 30px;
    }
    .left > div {
        padding-left: 20px;
    }
}
@media screen  and (max-width : 880px)
{
    .head-container{
        background-color: #4481eb; ;
    }
    .head-container{
        height: 70px;
    }
    .app-name{
        font-size: 20px;
    }
    .logo{
        font-size: 25px;
    }
    .left > div {
        padding-left: 15px;
    }
    .hamburger{
        display: block;
        width: 20px;
    }
    .right>div{
        margin-right: 15px;
        font-size: 25px;
    }
    .right>div:hover{
        color: #fff;
    }
    .menu-item.account{
        display: block;
    }
    .menu-item.account-big
    {
        display: none;
    }
}