@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
html,body{
    width:100%;
    height: 100%;
    margin: 0px;
}
.content-container
{
    width : 100%;
    height: calc(100% - 150px);
    display: flex;
    align-items: center;
}
.content-left,.content-right{
    width: 50%;
    height: 100%;
    display: flex;
}
.img-wrapper
{
    height: 60%;
}
.login-img
{
    width : 70%;
    height: 70%;
}
.content-left
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.coloring
{
    width: 50%;
    height : calc(100% - 50px);
    position : absolute;
    background-color: #4481eb;
    z-index: -2;
    border-bottom-right-radius: 90%;
}
.content-right
{
    flex-direction: column;
    align-items: center;
}
.wrapper
{
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.wrapper.w2
{
    display: none;
}
.input-field
{
    width: fit-content;
    border: 1px solid #444;
    position: relative;
    margin-top: 20px;
    padding: 10px;
    border-radius: 47px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.input-field>i{
    color: #444;
    font-size: 20px;
    padding-right: 5px;
}
.input
{
    min-width: 80%;
    width: 84%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    padding-right: 20px;
    font-family: 'Nunito', sans-serif;
    background: transparent;
}
.input.password{
    width: 80%;
    padding-right: 5px;
}

.password-show:hover{
    cursor: pointer;
}
.button-container
{
    position: relative;
    top:20px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    user-select: none;
    display: flex;
    flex-direction: column;
}
.button
{
    background-color: #4481eb;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 47px;
    color: white;
    user-select: none;
}
.transperant{
    background:transparent;
    color: #444;
    font-size: 20px;
}
.round{
    border-radius: 50%;
    border: 2px solid #444;
    width: 30px;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover
{
    cursor: pointer;
    background-color: #184594;
}
.button.transperant:hover{
    background-color: #444;
    color: white;
}
.edit-button, .remove-btn
{
    position : relative;
    left: 30px;
    font-size: 20px;
}
.error-message{
    color:red;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    padding-bottom: 20px;
}
.loading
{
    width: fit-content;
    position: relative;
    left: 50%;
    font-size: 30px;
    display: none;
}
.econtacts-container
{
    overflow-y :scroll;
    overflow-x: hidden;
    height: 80%;
    min-height: 90%;
    width: 100%;
    padding-right: 20px;
}
.contact-each
{
    padding:20px;
    border: 1px solid #444;
    border-radius: 50px;
    margin-bottom: 20px;
}
.econtacts-container::-webkit-scrollbar{
    width: 10px;
}
.back-container
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom:20px;
}
.small-title
{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}
.title
{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    padding: 20px;
}
.account-create
{
    position:relative;
    top:30px;
    font-family: 'Nunito', sans-serif;
    user-select: none;
}
.label:hover
{
    color: #184594;
    cursor: pointer;
}
@media screen  and (max-height : 550px) {
    .coloring{
        display: none;
    }
    .content-left
    {
        display: none;
    }
    .login-img
    {
        display: none;
    }
    .content-container{
        height: 100%;
    }

}
@media screen  and (max-width : 880px)
{
    .coloring{
        display: none;
    }
    .content-left
    {
        display: none;
    }
    .login-img
    {
        display: none;
    }
    .content-container{
        height: 100%;
    }
    .wrapper
    {
        width: 90%;
    }
    .w1
    {
        height: fit-content;
    }
    .content-right
    {
        width: 100%;
        height:90%;
    }
    .input-field
    {
        width: 90%;
    }
    .input
    {
        min-width: 80%;
        width: 80%;
    }
    .input.password{
        width: 78%;
    }
    .econtacts-container
    {
        min-height: 75%;
        width: 90%;
    }
    .transperant
    {
        background-color: #444;
        color: white;
    }

}