<script src="https://kit.fontawesome.com/11d589870a.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href='/header.css'/>
<div class="head-container">
    <div class="left">
        <div class="logo">
            <i class="fas fa-hard-hat"></i>
        </div>        
        <div class="app-name">
            Smart Helmet
        </div>
    </div>
    <div class="right">
        
    </div>
</div>